<div type="button" class="card-title" data-bs-toggle="modal" data-bs-target="#rulesModal">Rules</div>

<!-- Modal -->
<div class="modal fade" id="rulesModal" tabindex="-1" aria-labelledby="Rules" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="Rules">RULES</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="assets/images/image-rules.svg" alt="Rules">
      </div>
    </div>
  </div>
</div>
