<div class="buttons-wrapper mt-3">
  <div type="button" class="d-inline-block buttons" id="paper">
    <div class="moveButtonInner">
      <img src="assets/images/icon-paper.svg" alt="paper">
    </div>
  </div>
  <div type="button" class="d-inline-block buttons" id="scissors">
    <div class="d-inline-block moveButtonInner">
      <img src="assets/images/icon-scissors.svg" alt="scissors">
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center w-100 h-auto">
    <div type="button" class="buttons" id="rock">
      <div class="moveButtonInner">
        <img src="assets/images/icon-rock.svg" alt="rock">
      </div>
    </div>
  </div>
</div>
